
<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .link {
            display: block;
            padding: 20px;
            background-color: #4CAF50;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            margin: 0 20px;
        }

        .link:hover {
            background-color: #3e8e41;
        }

        #clusterTable {
            border-collapse: collapse;
            width: 30%;
            margin: 50px auto;
            font-size: 1.2em;
            border: 2px solid #ddd;
        }

        #clusterTable th {
            font-weight: bold;
            text-align: left;
            padding: 12px;
            border-bottom: 2px solid #ddd;
        }

        #clusterTable td {
            padding: 12px;
            border-bottom: 2px solid #ddd;
        }

        #clusterTable td:first-child {
            font-weight: bold;
        }

    </style>
</head>
<body>
    <h1>{{ company_name }} Nutanix Unified Cluster Reporting Dashboard</h1>
    <div class="container">
        <a class="link" href="basic_checks.html">Basic Checks</a>
        <a class="link" href="health_checks.html">Health Checks</a>
    </div>
     
    <table id="clusterTable">
        <tr>
            <th>Number of Prism Central</th>
            <td>{{ global_summary_dict.global_num_pc | default(0) }}</td>
        </tr>

        <tr>
            <th>Number of Clusters</th>
            <td>{{ global_summary_dict.global_num_clusters - global_summary_dict.global_num_pc | default(0) }}</td>
        </tr>

        <tr>
            <th>Number of Nodes</th>
            <td>{{ total_num_nodes | default(0) }}</td>
        </tr>

        <tr>
            <th>Cluster with Critical Host</th>
            <td>{{ total_critical_host | default(0) }}</td>
        </tr>
        <tr>
            <th>Clusters with Critical Services</th>
            <td>{{ total_critical_service | default(0) }}</td>
        </tr>
    </table>
    <p style="text-align: center;">Report generated at {{ end_time.split('T')[0] }} {{ end_time.split('T')[1][:-1] }} UTC</p>
</body>
</html>

